.box_container {
    display: grid;
    grid-template-columns: repeat(2, 46rem);
    gap: 5vh;
}


.accounts_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 25px;
    padding: 1.5vw;
    background-color: rgb(88, 41, 219);
}

.accounts_container .header_accounts {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accounts_container .header_accounts .details {
    margin-top: -1vh;
}

.accounts_container .header_accounts .details .holder {
    font-weight: 500;
    font-size: 3rem;
}

.accounts_container .header_accounts .details .type {
    font-size: 1.5rem;
    color: gray;
}

.accounts_container .header_accounts .icon {
    font-size: 3rem;
}

.information_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    height: 100%;
}

.buttonSettings {
    position: relative;

}
.buttonSettings .accounts_options {
    position: absolute;
    bottom: 0;
    left: -11.5rem;
    padding: 1rem 3.2rem 1rem 3.2rem;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
    border: none;
}



.add {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2.5%;
    border-radius: 25px;
    font-size: 5rem;
    padding: 1rem;
    background-color: rgb(88, 41, 219);
    transform: scale(1);
    transition-duration: 0.3s;
}

.add:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem 0 rgb(86, 69, 133);
    transition-duration: 0.3s;
}

/* Overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 98;
}

/* EditForm */

.form_edit_accounts_container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

.form_edit_accounts_container:focus ~ .container {
    filter: blur(59px);
    background-color: red;
}

.form_edit_accounts_container .create_edit_accounts {
    position: absolute;
    left: 50%;
    transform: translate(-60%, -80%);
    background-color: rgb(88, 41, 219);
    width: 60%;
    border-radius: 25px;
    padding: 2rem;
}

.form_edit_accounts_container .create_edit_accounts .inputs_edit_accounts_container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}

.form_edit_accounts_container .create_edit_accounts .inputs_edit_accounts_container .input_container .label {
    font-size: 1.5rem;
}


.form_edit_accounts_container .create_edit_accounts .inputs_edit_accounts_container .input_container .input {
    width: 80%;
    height: 70%;

    padding: 0.3rem;
    font-size: 1.2rem;
}

.form_edit_accounts_container .create_edit_accounts .button_edit_accounts_container .button_edit_accounts {
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 80%;
    margin: 5vh 0 2vh 0;
}

/* AddAccount Form */
.form_add_accounts_container {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 99;
}

.form_add_accounts_container:focus ~ .container {
    filter: blur(59px);
    background-color: red;
}

.form_add_accounts_container .create_add_accounts {
    position: absolute;
    left: 50%;
    transform: translate(-60%, -80%);
    background-color: rgb(88, 41, 219);
    width: 60%;
    border-radius: 25px;
    padding: 2rem;
}

.form_add_accounts_container .create_add_accounts .inputs_add_accounts_container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
}

.form_add_accounts_container .create_add_accounts .inputs_add_accounts_container .input_container .label {
    font-size: 1.5rem;
}


.form_add_accounts_container .create_add_accounts .inputs_add_accounts_container .input_container .input {
    width: 80%;
    height: 70%;

    padding: 0.3rem;
    font-size: 1.2rem;
}

.form_add_accounts_container .create_add_accounts .button_add_accounts_container .button_add_accounts {
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 80%;
    margin: 5vh 0 2vh 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
}
