@font-face {
	font-family: chillaxBold;
	src: url('../../../assets/fonts/Chillax-Bold.otf');
    font-weight: bold;
}


.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2.5vw;
}

.welcome {
    font-size: 2.5rem;
    font-weight: 500;
}

.explore {
    font-size: 1rem;
}

.explore .link {
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
}

.explore .link:hover {
    cursor: grab;
}

.home_container .total_balance, .home_container .last_transactions {
    width: 50%;
}

.total_balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3vh;
}

.account_balance {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    border-radius: 25px;

    background-color: rgb(88, 41, 219);
}



.account_balance .total_amount {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: start;
    padding: 1rem;
}

.account_balance .total_amount .text, .incame_expanse .text {
    font-size: 1.2rem;
}

.account_balance .total_amount .amount {
    font-size: 2rem;
}

.account_balance .textTitle {
    font-size: 1.5rem;
    text-align: start;
    margin: 0 0 5% 2.5%;
}

.incame_expanse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40%;
    padding-bottom: 1.5rem;
}

.incame_expanse .amount {
    font-size: 1.5rem;
}

