@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
	font-family: chillax;
	src: url('../assets/fonts/Chillax-Variable.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'chillax', sans-serif;
}

#root, html {
	height: 100%;
	background-color: #201c1c;
	color: whitesmoke;
}

.container {
    margin-left: 13%;
	height: 100%;
}