

.container-all-registrati {
    color: whitesmoke;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_registrati {
    width: 80%;
    background-color: #393434;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    text-align: center;
    align-items: center;
}

.container_registrati .title{
    font-weight: 500;
    position: relative;
    text-align: center;
    align-items: center;
}

.content_registrati form .inputs{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 12px 0;
}

form .inputs .input_box{
    margin-bottom: 15px;
    width: 60%;
}

form .input_box span.details{
    width: 100%;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.inputs .input_box input{
    color: whitesmoke;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: #5b5454;
}

.gender_selection {
    padding: 0.65rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    font-size: 1rem;
    width: 100%;
    color: whitesmoke;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color: #5b5454;
}

.gender_selection option {
    font-family:  'Chillax-Variable', sans-serif;
}

.errors {
    display: none;
    color: #ff0000;
    text-align: center;
}

form .button{
   height: 45px;
   margin: 35px 0
}

form .button button{
    height: 100%;
    width: 60%;
    border-radius: 5px;
    border: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #ffffff;
}

.link {
    color: rgb(64, 64, 230);
}

