.container_window {
    color: whitesmoke;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_form {
    width: 80%;
    background-color: #393434;
    padding: 2vh 1vw;
    border-radius: 25px;
    text-align: center;
}

.container_form .title {
    font-size: 3rem;
    margin-bottom: 2vh;
}

.form .inputs{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
}

.form .inputs .input_box{
    margin-bottom: 15px;
    width: 60%;
}

.form .input_box .details{
    width: 100%;
    display: block;
    font-weight: 500;
    margin-bottom: 0.8vh;
}

.inputs .input_box .input{
    color: whitesmoke;
    background-color: #5b5454;
}

.form .button{
   height: 45px;
   margin: 35px 0
}

.form .button {
    height: 5vh;
    width: 60%;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.link {
    color: rgb(64, 64, 230);
}

.current_errror {
    color: red;
    font-size: 1.3rem;
    margin-top: 1.2vh;
}